<%= form_with url: order_path, remote: true do |f| %>
<%#= form_for @order  do |f| %> 
  <table>
    <thead>
      
    </thead>
    <tbody>
      
    </tbody>
    <%= f.fields_for :billing_address do |ba| %>               
       <%= ba.text_field :address1  %> 
       <%= ba.text_field :address2 %> 
       <%= ba.text_field :city %> 
       <%= ba.text_field :state %> 
       <%= ba.text_field :zip %> 
       <%= ba.text_field :phone %> 
    <% end %><br><br>
  </table>
    <%= f.fields_for :shipping_address do |sa|  %>              
       <%= sa.text_field :address1 %> 
       <%= sa.text_field :address2 %> 
       <%= sa.text_field :city%> 
       <%= sa.text_field :state %> 
       <%= sa.text_field :zip %> 
       <%= sa.text_field :phone %> 
    <% end %>
<% end %>