<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<h3 class="text-center">Place Order Details</h3>
<% if current_user.role == 'admin' %>
<div class="container">
  <div class="row">
    <%= line_chart Order.all.group_by_day() { |order| order.created_at }.map { |date, orders, | [date, orders.size] } %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%#= line_chart Order.all.group_by(&:created_at).count %>
      <div class="col-lg-12">
        <div class="panel panel-success">
          <div class="panel-heading">
            <div class="pull-right">
              <span class="clickable filter float-right" data-toggle="tooltip" title="Click the filter icon" data-container="body">
                <i class="glyphicon glyphicon-filter"></i>
              </span><br><br>
            </div>
          </div>
          <div class="panel-body">
            <input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Search" />
          </div>
          <table class="table table-hover table-bordered" id="dev-table">
            <thead>
              <tr>
                <th>Product</th>
                <th>Date&Time</th>
                <th>Address</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th>Image</th>
              </tr>
            </thead>
            <tbody>
              <% if current_user.present? %>
              <% if current_user.role == 'admin' %>
              <% if current_user.orders.present? %>
              <% @delivery_report.each do |order| %>
              <tr style="background-color: cadetblue;">
                <td><strong>Order Id: <%= order.id %> (<%=  order.user.name %>) </td></strong>
              </tr>
                <tr>
                  <% order.cart.cart_items.each do |item| %>
                    <% product_id = item.product_id
                      product = Product.unscoped.find(product_id) %>
                      <% if product.present? %> 
                      <tr>
                        <td><%= product.name rescue nil %></td>
                        <td><%= order.created_at.strftime "%a, %-d %b %Y %I:%M %p" %></td>
                          <% address_id = order.address_id %>
                          <% @add = Address.find_by(id: address_id)%>
                        <% if @add.present? %>
                          <td><%= @add.address %>, <%= @add.country%>, <%= @add. post_code%>, <%= @add. district%> </td>
                        <% end %>
                        <td><%= item.quantity rescue nil %></td>
                        <td><%= product.price  || 0.0  rescue nil %></td>
                        <td><%= item.quantity * product.price  || 0.0 rescue nil  %></td>
                        <td><%= image_tag product.image.url(:thumb) rescue nil %></td> 
                      </tr>
                      <% end %>
                    <% end %>
                </tr>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th><div class="p-2 mb-2 bg-success text-white float-left" style="margin-left: 10%" ><%= order.cart.quantity %></div></th>
                  <th></th>
                  <th><div class="p-2 mb-2 bg-success text-white  float-left" style="margin-left: 10%" ><%= order.total %></div></th>
                  <th></th>
                </tr>
              <% end %>
              <% end %>
              <% end %> 
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>  
<!-- <center class="digg_pagination">
  <%#= will_paginate @delivery_report, :renderer=> BootstrapPagination::Rails, previous_label: "Older", next_label: "Newer", inner_window: 1, outer_window: 0 %>
</center> -->

   <style type="text/css">
    .row{
        margin-top:40px;
        padding: 0 10px;
    }
    .clickable{
        cursor: pointer;   
    }

    .panel-heading div {
      margin-top: -18px;
      font-size: 15px;
      color: green;
    }
    .panel-heading div span{
      margin-left:5px;
    }
    .panel-body{
      display: none;
    }

  </style>
  

  <script type="text/javascript">
    (function(){
      'use strict';
      var $ = jQuery;
      $.fn.extend({
    filterTable: function(){
      return this.each(function(){
        $(this).on('keyup', function(e){
          $('.filterTable_no_results').remove();
          var $this = $(this), 
                        search = $this.val().toLowerCase(), 
                        target = $this.attr('data-filters'), 
                        $target = $(target), 
                        $rows = $target.find('tbody tr');
                        
          if(search == '') {
            $rows.show(); 
          } else {
            $rows.each(function(){
              var $this = $(this);
              $this.text().toLowerCase().indexOf(search) === -1 ? $this.hide() : $this.show();
            })
            if($target.find('tbody tr:visible').size() === 0) {
              var col_count = $target.find('tr').first().find('td').size();
              var no_results = $('<tr class="filterTable_no_results"><td colspan="'+col_count+'">No results found</td></tr>')
              $target.find('tbody').append(no_results);
            }
          }
        });
      });
    }
  });
  $('[data-action="filter"]').filterTable();
    })(jQuery);

    $(function(){
        // attach table filter plugin to inputs
      $('[data-action="filter"]').filterTable();
      
      $('.container').on('click', '.panel-heading span.filter', function(e){
        var $this = $(this), 
          $panel = $this.parents('.panel');
        
        $panel.find('.panel-body').slideToggle();
        if($this.css('display') != 'none') {
          $panel.find('.panel-body input').focus();
        }
      });
      $('[data-toggle="tooltip"]').tooltip();
    })
</script>
