<html>
<head>
<title>PDF</title>
  <%= wicked_pdf_stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "http://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"%>
  <%= javascript_include_tag "http://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"%>
</head>
<body>  
  <p id="notice"><%= notice %></p>
  <h4 class="order_header text-center">Orders History PDF</h4><br>

  <div class="container">
  <div class="row">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Date&Time</th>
          <th>Address</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
          <th>Image</th>
          <th>Order Rating</th>
        </tr>
      </thead>

      <tbody>
        <% if current_user.orders.present? %>
            <tr  style="background-color: cadetblue;">
              <th>ORDER ID: <%= @orders.id %> (<%= @orders.user.name %>)</th>
            </tr>
          <% @orders.cart.cart_items.each do |item| %>
            <% product_id = item.product_id
              product = Product.unscoped.find(product_id) %> 
            <% if product.present? %> 
            <tr>
              <td><%= product.name rescue nil %></td>
              <td><%= Time.now.strftime "%a, %-d %b %Y %I:%M %p" %></td>
                <% address_id = @orders.address_id %>
                <% @add = Address.find_by(id: address_id)%>
              <% if @add.present? %>
                <td><%= @add.address %>, <%= @add.country%>, <%= @add. post_code%>, <%= @add. district%> </td>
              <% end %>
              <td><%= item.quantity rescue nil %></td>
              <td><%= product.price  || 0.0  rescue nil %></td>
              <td><%= item.quantity * product.price  || 0.0 rescue nil  %></td>
              <td><%= image_tag product.image.url(:thumb) rescue nil %></td> 
              <% if item.product.present? %>
              <td>
                <div class="btn btn-warning"><a href="/order_review/<%= product.id %>">Review</a></div>
              </td>
              <% end %>
            </tr>
            <% end %>
          <% end %>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th><div class="p-2 mb-2 bg-success text-white float-left" style="margin-left: 10%" ><%= @orders.cart.quantity %></div></th>
              <th></th>
              <th><div class="p-2 mb-2 bg-success text-white  float-left" style="margin-left: 10%" ><%= @orders.total %></div></th>
            </tr> 
        <% end %>
      </tbody>
    </table><br><br>
  </div>
</div><br>

    <%= yield %>
</body>
</html>