<p id="notice"><%= notice %></p>

<h1 class="text-center">Carts</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image</th>
      <th>Category</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= image_tag product.image.url(:thumb) %></td>
        <td><%= product.category.name %></td>
        <td><input type="number" name=product.id value="1"></td>
        <td><%= product.price %></td>
        <td></td>
        
        <!-- <td id="food_qty_<%#= product_id %>"><%#=form_for 'quantity', :url => {:controller => 'cart_items', :action => 'update', product_id: details[:food][:id], id: index }, method: :patch  do |f| %>
            <%#= f.number_field details[:qty], :min => 1, :value => details[:qty], :class => "qty qty-editable-width", "data-message" => product_id %>
            <%# end %>
          </td>
        <td id="food_unit_price_<%#= product_id %>"><%#= details[:food]['price'] %></td>
          <td>N<span class="line-total" id="food_sub_total_<%#= details[:food][:id] %>" data-message="<%#= details[:food]['price'] %>" ><%#= details[:food]['price'].to_i * details[:qty].to_i %></span></td>-->
        <td><%= link_to "Remove",  remove_cart_path(product), data: {method: :delete, remote: true}  %>
        </td> 
      </tr>
    <% end %>
  </tbody>
</table><br>
    
    <div class="float-right p-2 mb-2 bg-success text-white " style="margin-right: 3%" >
      Total Price: <%= @products.map(&:price).sum %>
    </div>
    <div class="float-right p-2 mb-2 bg-success text-white " style="margin-right: 5%" >
      Total Quantity: <%= @products.count %>&nbsp;&nbsp;
    </div>
    <br><br>
    
    <div class="text-center ">
      <div class="btn-group">
        <%= button_to 'Place Order', order_path(count: @products.count), :class => "btn btn-info" %>&nbsp;&nbsp;
        <%= button_to 'Checkout',  charges_path, :class => "btn btn-secondary" %>
      </div>
    </div>





