<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<% if flash[:alert] %>
  <div class="alert" id ="alert"><%= flash[:alert] %></div>
<% end %>
<br>
<div class="container">
    <h3 class="h3 text-center">Product List </h3><br>
    <div class="row">
    <% if @products_all.present? %>
      <% @products_all.each do |product| %>
        
        <div class="col-md-3 col-sm-6">
            <div class="product-grid2">
                <div class="product-image2">
                    <a href="/product/<%= product.id %>">
                      <% if product.image.present? %>
                        <%= image_tag product.image.url(:thumb) %>
                      <% else %>
                        <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo3/images/img-1.jpeg">
                        <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo3/images/img-2.jpeg">
                      <% end %>
                    </a>
                    <ul class="social">
                        <li><a href="/products/<%= product.id %>" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                        <!-- <li><a href="/product" data-tip="Quick View"><i class="fa fa-eye"></i></a></li> -->
                        
                        <li><a href="/products/<%= product.id %>/wishlist" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        
                        <li><a href="/products/<%= product.id %>/cart" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <a class="add-to-cart" href="/products/<%= product.id %>/cart">Add to cart</a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#"><%= product.name %></a></h3>
                    <span class="price">₹<%= product.display_price %></span>
                    <del>
                        <span class="price">₹<%= product.display_full_price %></span>
                    </del>(<%= product.discount_percentage.to_f.round(2)%>%)
                </div>
            </div>
        </div>
      <% end %>
    <% end %>
    </div>
</div>
<hr>

<center class="digg_pagination">
  <%= will_paginate @products_all, :renderer=> BootstrapPagination::Rails, previous_label: "Older", next_label: "Newer", inner_window: 1, outer_window: 0 %>
</center>

