<!-- <div class="grid"> --> 
  <%#= render 'products/sidebar_menu', locals: {categories: @categories} %>
  <%#= render partial: 'product_grid', locals: { products: @products} %>
<!-- </div> -->

<div class="container">
    <div class="card">
      <div class="container-fliud">
        <div class="wrapper row">
          <div class="preview col-md-6">
            <!-- <div class="preview-pic tab-content"> -->
              <div class="tab-pane active" id="pic-1"><img src="<%= @product.image %>" /></div>&nbsp;&nbsp;&nbsp;&nbsp;
            <!-- </div> -->
                 <!---------- Rating riview form -------------->
              <%# if current_user.present? %>
                <%#= form_for (RatingReview.new) do |f| %>
                  <%# if current_user.present? %>
                    <%#= f.hidden_field :user_id, value: current_user.id %>
                    <%#= f.hidden_field :product_id, value: @product.id %>
                   <%# end %>
                  
                  <!-- <div id="rating-form" class="field col-lg-12 from-group">
                    <label>Rating</label>
                  </div>

                  <div class="field col-lg-12 from-group">
                    <%#= f.label :review %>
                    <%#= f.text_area :review , :class => "form-control" %>
                  </div>

                  <div class="field col-lg-12 from-group text-center ">
                    <%#= f.submit "Submit", class: 'btn btn-success' %>
                  </div> -->
                  <!-- ------  Review script ----------- -->
                  <!-- <script type="text/javascript">
                    $('#rating-form').raty({
                      path: '/assets/',
                      scoreName: 'rating_review[rating]'
                    });
                  </script> -->
                <%# end %>
              <%# end %>
          </div>

          <div class="details col-md-6">
            <h3 class="product-title"><%= @product.name %></h3>
            <div class='star-rating' data-score=<%= @avg_rating %>></div>
                <strong><%= "#{@reviews.try(:size)} reviews" %></strong>

            <p class="product-description"><strong>Description:</strong> <%= @product.description %></p>
            <h4 class="price">current price:<span>₹ <%= @product.display_price %></span> <del><span>₹ <%= @product.display_full_price %></span></del>(<%= @product.discount_percentage.to_f.round(2)%>%)</h4>
            <p class="vote">
              <%# if @product.present? %>
                <!-- <strong>Place Order: (<%#= @product_count.count %> times)</strong> -->
              <%#end %>
               <!-- of buyers enjoyed this product! <strong>(87 votes)</strong> -->
            </p>
            <h5 class="sizes">sizes:
              <span class="size" data-toggle="tooltip" title="small">s</span>
              <span class="size" data-toggle="tooltip" title="medium">m</span>
              <span class="size" data-toggle="tooltip" title="large">l</span>
              <span class="size" data-toggle="tooltip" title="xtra large">xl</span>
            </h5>
            <h5 class="colors">colors:
              <span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>
              <span class="color green"></span>
              <span class="color blue"></span><br/><br/>
                <div class="action">
                   <button class="add-to-cart btn btn-default" type="button"><a href="/products/<%= @product.id %>/cart">add to cart</a></button>
                    <button class="btn btn-info" type="button"><a href="/">Back</a></button>
                    <button class="add-to-shopping-bag btn btn-primary" type="button"><a href="/products/<%= @product.id %>/wishlist" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></button>
                </div>
            </h5>
            <div class="action">
              <!--  Product show rating  -->
              <br><br>
                <% @reviews.each do |review|%>
                  <div class='star-rating' data-score=<%= review.rating %>></div><br>
                  <%= review.review %>
                  <h6><%= review.user.name %></h6><hr>

                <% end %>
                <script>
                    $('.star-rating').raty({
                      path: '/assets/',
                      readOnly: true,
                      score: function() {
                            return $(this).attr('data-score');
                    }
                  });
                </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



