<!-- <div class="grid"> -->
  <%#= render 'products/sidebar_menu', locals: {categories: @categories} %>
  <%#= render partial: 'product_grid', locals: { products: @products} %>
<!-- </div> -->
<div class="container">
    <div class="card">
      <div class="container-fliud">
        <div class="wrapper row">
          <div class="preview col-md-6">
            
            <div class="preview-pic tab-content">
              <div class="tab-pane active" id="pic-1"><img src="<%= @product.image %>" /></div>
            </div>
            
            
          </div>
          <div class="details col-md-6">
            <h3 class="product-title"><%= @product.name %></h3>
            <div class="rating">
              <div class="stars">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
              <span class="review-no">41 reviews</span>
            </div>
            <p class="product-description"><%= @product.description %></p>
            <h4 class="price">current price:<span>₹ <%= @product.display_price %></span> <del><span>₹ <%= @product.display_full_price %></span></del>(<%= @product.discount_percentage.to_f.round(2)%>%)</h4>
            <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
            <h5 class="sizes">sizes:
              <span class="size" data-toggle="tooltip" title="small">s</span>
              <span class="size" data-toggle="tooltip" title="medium">m</span>
              <span class="size" data-toggle="tooltip" title="large">l</span>
              <span class="size" data-toggle="tooltip" title="xtra large">xl</span>
            </h5>
            <h5 class="colors">colors:
              <span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>
              <span class="color green"></span>
              <span class="color blue"></span>
            </h5>
            <div class="action">
              <button class="add-to-cart btn btn-default" type="button">add to cart</button>
              <button class="btn btn-info" type="button"><a href="/">Back</a></button>
             <button class="add-to-shopping-bag btn btn-primary" type="button"><a href="/products/<%= @product.id %>/wishlist" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></button>
              <%#= link_to  product_add_wishlist_path(@product), data: {method: :post, remote: true} do %>
                  <!-- <span class="fa fa-heart"></span>    -->
              <%# end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- Product Details page -->

<!-- <div class="container">
<div class="col-xs-12 col-md-6">
 
                <div class="prod-info-main prod-wrap clearfix">
 
                      <div class="row">
 
                           <div class="col-md-5 col-sm-12 col-xs-12">
 
                            <div class="product-image">
 
                             <img src="images/products/p4.png" class="img-responsive">
 
                               <span class="tag2 hot">
 
                                 SPECIAL
 
                               </span>
 
                       </div>
 
                  </div>
 
    <div class="col-md-7 col-sm-12 col-xs-12">
 
                  <div class="product-deatil">
 
                               <h5 class="name">
 
                               <a href="#">
 
                                Product Code/Name here
 
                               </a>
 
                               <a href="#">
 
                               <span>Product Category</span>
 
                               </a>                           
 
                        </h5>
 
                            <p class="price-container">
 
                             <span>$199</span>
 
                           </p>
 
              <span class="tag1"></span>
 
   </div>
 
  <div class="description">
 
      <p>A Short product description here </p>
 
   </div>
 
      <div class="product-info smart-form">
 
         <div class="row">
 
         <div class="col-md-12">
 
          <a href="#" class="btn btn-danger">Add to cart</a>
 
             <a href="javascript:void(0);" class="btn btn-info">More info</a>
 
       </div>
 
      <div class="col-md-12">
 
         <div class="rating">Rating:
 
          <label for="stars-rating-5"><i class="fa fa-star text-danger"></i></label>
 
          <label for="stars-rating-4"><i class="fa fa-star text-danger"></i></label>
 
          <label for="stars-rating-3"><i class="fa fa-star text-danger"></i></label>
 
          <label for="stars-rating-2"><i class="fa fa-star text-warning"></i></label>
 
          <label for="stars-rating-1"><i class="fa fa-star text-warning"></i></label>
 
         </div>
 
       </div>
 
    </div>
 
   </div>
 
  </div>
 
  </div>
</div>
 
 
</div>
</div>
 
</div> -->